
/* General Demo Style */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

@font-face {
	font-family: 'fontawesome';
	src:url('../fonts/fontawesome.eot');
	src:url('../fonts/fontawesome.eot?#iefix') format('embedded-opentype'),
		url('../fonts/fontawesome.svg#fontawesome') format('svg'),
		url('../fonts/fontawesome.woff') format('woff'),
		url('../fonts/fontawesome.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body, html { font-size: 100%; 	padding: 0; margin: 0;}

/* Reset */
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    color: #333;
    background: #f9f9f9;
    font-size: 0.9em;
    overflow-x: hidden;

}

a {
	color: #999;
	text-decoration: none;
}

a:hover {
	color: #000;
}

.container > header {
	padding: 1em 1.875em;
	margin-bottom: 2em;
	background: #f5f5f5;
	position: relative;
}

.inner {
	max-width: 65em;
	width: 100%;
	margin: 0 auto;
}

.container > header h1 {
	font-size: 2.125em;
	line-height: 1.3;
	text-align: left;
	font-weight: 400;
	float: left;
	width: 50%;
}

.container > header span {
	display: block;
	font-weight: 300;
	font-size: 75%;
	color: #c0c0c0;
	padding: 0 0 0.6em 0.1em;
}

.main > p {
	font-weight: 300;
	font-size: 1.1em;
	color: #999;
	text-align: center;
	padding: 2em;
}

/* Header Style */
.codrops-top {
	background: #fff;
	background: rgba(255, 255, 255, 0.5);
	text-transform: uppercase;
	position: relative;
	font-size: 0.75em;
	box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
	line-height: 2.2;
}

.codrops-top a {
	padding: 0 1em;
	letter-spacing: 0.1em;
	color: #333;
	display: inline-block;
}

.codrops-top a:hover {
	background: rgba(255,255,255,0.8);
	color: #000;
}

.codrops-top span.right {
	float: right;
}

.codrops-top span.right a {
	float: left;
	display: block;
}

/* Demo Buttons Style */
.codrops-demos {
	float: right;
	padding-top: 1em;
}

.codrops-demos a {
    display: inline-block;
    margin: 1em;
    line-height: 2;
    color: #666;
    font-weight: 700;
    border-bottom: 4px solid transparent;
}

.codrops-demos a:hover {
	color: #000;
	border-color: #000;
}

.codrops-demos a.current-demo,
.codrops-demos a.current-demo:hover {
	color: #aaa;
	border-color: #aaa;
}

.bio-main {
	margin: 0 30%;
}

.bio-main img {
	float: left;
	margin-right: 40px;
	-moz-border-radius: 16px;
	-ms-border-radius: 16px;
	-o-border-radius: 16px;
	-webkit-border-radius: 16px;
	-webkit-box-shadow: 0 0 4px #444444;
	-moz-box-shadow: 0 0 4px #444444;
	box-shadow: 0 0 4px #444444;
}

.bio-main .details {
	float: left;
	width: 152px;
}

h4 {
display: block;
color: #6c6c6c;
font-size: 1em;
font-size: 1em;
font-weight: normal;
margin: 0 0 10px;
text-transform: uppercase;
}

h5 {
color: #999;
font-size: 0.875em;
font-size: 0.875em;
}

.social.small {
margin: 10px 0 0;
}

p {
color: #777;
font-size: 0.8125em;
line-height: 1.7;
margin: 0 0 15px;
}

.social.small li {
margin: 0 10px 0 0;
}

.social.small a {
background-image: url(https://apptopia-production.s3.amazonaws.com/assets/social-sm-d550e180ce7ca12d56ec62e41ae8bdeb.png);
background-position: 3px -1px;
height: 23px;
width: 26px;
}

.social.small a.social-linkedin {
background-position: -60px -1px;
}

.social.small ul {
float: left;
padding-left: 0;
}

.bio-main ul li {
font-size: 12px;
padding: 6px 0;
color: #777;
}

ul {
list-style: none;
list-style-type: disc;
}

.social li {
float: left;
margin-left: 10px;
list-style: none;
margin-bottom: 0;
}

.social a {
background: #fff url(https://apptopia-production.s3.amazonaws.com/assets/social-e57c9ab6a2f8394715f9e82ca9d92fb0.gif) no-repeat 5px 4px;
border: 1px solid #e2e2d9;
-moz-border-radius: 5px;
-ms-border-radius: 5px;
-o-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
-webkit-box-shadow: 0 0 5px #e2e2d9;
-moz-box-shadow: 0 0 5px #e2e2d9;
box-shadow: 0 0 5px #e2e2d9;
display: block;
height: 44px;
color: transparent;
font-size: 0.0625em;
font-size: 0.0625em;
line-height: 1px;
overflow: hidden;
text-indent: -9999em;
width: 50px;
}

.bio-main .span5 {
	border-right: 1px solid #ddd;
	margin: 4% 0 4% 0;
	width: 60%;
}

.row-fluid [class*="span"] {
display: block;
/*width: 100%;*/
min-height: 30px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
float: left;
}

.social.small a.social-github {
background-position: -98px 1px;
}