<div id="sp-nav" ng-controller="HomeCtrl">
  <div class="topcoat-navigation-bar color-nav" ng-controller="HomeCtrl">
    <div class="topcoat-list__container">
      <ul class="topcoat-list">
        <h3 class="topcoat-list__header"><span class="topcoat-icon egg_small"></span>Hatch</h3>
        <li class="topcoat-list__item--first babyblue" ng-click="slidePage('/newmessage')">
            <span class="topcoat-icon writemsg-icon"></span>
            New Message
        </li>
        <li class="topcoat-list__item orange" ng-click="slidePage('/map')">
          <span class="topcoat-icon locate-icon"></span>
            My Map
        </li>
        <li class="topcoat-list__item green" ng-click="slidePage('/inbox')">
          <span class="topcoat-icon msg-icon"></span>
            Inbox
        </li>
        <li class="topcoat-list__item pink" ng-click="$spMenu.toggle()">
          <span class="topcoat-icon group-icon"></span>
            My Friends
        </li>
        <li class="topcoat-list__item lightblue" ng-click="slidePage('/inbox')">
            <span class="topcoat-icon settings-icon"></span>
            Settings
        </li>
        <li class="topcoat-list__item lightpink" ng-click="logOut('/login')">
            <span class="topcoat-icon lock-icon"></span>
            Log Out
        </li>
      </ul>
    </div>
  </div>
</div>

<div id="sp-page">
      <div class="topcoat-navigation-bar purple" ng-controller="HomeCtrl">
        <div class="topcoat-navigation-bar__item left quarter">
            <a class="topcoat-icon-button--quiet" ng-click="$spMenu.toggle()">
                <span class="topcoat-icon home-icon"></span>
            </a>
        </div>
        <div class="topcoat-navigation-bar__item center half">
            <h1 class="topcoat-navigation-bar__title purple-title">My Friends</h1>
        </div>
        <div class="topcoat-navigation-bar__item right quarter">
            <button class="topcoat-button--large--quiet" ng-click="slidePage('/allUsers')">
              <span class="topcoat-icon add-friend-icon"></span>
            </button>
        </div>
    </div>
  <div class="body-container">
    <div class="topcoat-list__container" ng-controller="FriendsListCtrl" ng-init="updateFriendList()">
        <h3 class="topcoat-list__header">Pending Friends</h3>
        <ul class="topcoat-list">
          <li class="topcoat-list__item" ng-repeat="pfriend in pendingFriends">
              {{pfriend.username}}{{pfriend.pending}} <button class="topcoat-button--cta" ng-show="pfriend.waiting" ng-click="acceptFriend(pfriend)" ng-class="friendClass(pfriend)">Accept</button> <button class="topcoat-button--cta" ng-show="pfriend.waiting" ng-click="denyFriend(pfriend)" ng-class="friendClass(pfriend)">Deny</button>
          </li>
        </ul>
        <h3 class="topcoat-list__header">Current Friends</h3>
        <ul class="topcoat-list">
          <li class="topcoat-list__item" ng-repeat="friend in currentFriends">
              {{friend.username}}
          </li>
        </ul>
    </div>
  </div>
</div>
