<div class="topcoat-navigation-bar purple flow" ng-controller="HomeCtrl">
  <div class="topcoat-navigation-bar__item left quarter iconnav">
    <i class="topcoat-icon-button--quiet icon-chevron-left icon-2x icontop" ng-click="slidePage('/pinmap')"></i>
  </div>

    <div class="topcoat-navigation-bar__item center half">
        <h1 class="topcoat-navigation-bar__title purple-title">Select Friends</h1>
    </div>
</div>

<div class="body-container">
  <div class="topcoat-list__container hatchlist" ng-controller="FriendsListCtrl" ng-init="updateFriendList()" style="overflow: hidden">
    <ul class="topcoat-list">
      <h3 class="topcoat-list__header">Select some friends to send your message to</h3>
      <li class="topcoat-list__item" ng-repeat="friend in currentFriends" ng-class="checkboxback(friend)">
        <div>
          <div class="nametext">
            <strong>{{friend.username}}</strong>
          </div>
          <div>
            <span name="friends[]" value="{{friend.username}}" ng-model="friend.checked" ng-class="checkboxClass(friend)" ng-click="check(friend)"></span>
          </div>
        </div>
      </li>
    </ul>
    <div class="bottombutton">
      <button class="pure-button hatch-button-success center_button" ng-class="sentClick()" ng-click="send(); slidePage('/inbox')">Send</button>
    </div>
  </div>
</div>