<div class="topcoat-navigation-bar" ng-controller="HomeCtrl">
  <div class="topcoat-navigation-bar__item left quarter">
      <button class="topcoat-button--large--quiet" ng-click="slidePage('/pinmap')">Back</button>
  </div>

    <div class="topcoat-navigation-bar__item center half">
        <h1 class="topcoat-navigation-bar__title">Send to...</h1>
    </div>
</div>
<div class="topcoat-list__container list" ng-controller="FriendsListCtrl" ng-init="updateFriendList()">
  <h3 class="topcoat-list__header">Select Friends</h3>
  <ul class="topcoat-list">
    <li class="topcoat-list__item">
      <label class="topcoat-checkbox__label" ng-repeat="friend in friends">
        <div class="topcoat-checkbox">{{friend.username}}</div>
        <input type="checkbox" name="friends[]" value="{{friend.username}}" ng-checked="friend.checked" ng-model="friend.checked">
      </label>
    </li>
  </ul>
  <button class="topcoat-button--cta" ng-click="send()">Send</button>
</div>
<ng-include src="'partials/settingsOverlay.html'"></ng-include>