<div class="topcoat-navigation-bar" ng-controller="HomeCtrl">
    <div class="topcoat-navigation-bar__item left quarter">
        <a class="topcoat-icon-button--quiet" ng-click="slidePage('/home','modal')">
            <span class="topcoat-icon home-icon"></span>
        </a>
    </div>
    <div class="topcoat-navigation-bar__item center half">
        <h1 class="topcoat-navigation-bar__title">Inbox</h1>
    </div>
    <div class="topcoat-navigation-bar__item right quarter">
        <a class="topcoat-icon-button--quiet" ng-click="changeSettings()">
            <span class="topcoat-icon settings-icon"></span>
        </a>
    </div>
</div>
<div class="topcoat-list__container list" ng-controller="InboxCtrl" ng-init="getMessages()">
    <h3 class="topcoat-list__header">messages</h3>
    <ul class="topcoat-list">
        <li class="topcoat-list__item" ng-model="messages" ng-repeat="message in messages" ng-click="userService.currentUser.setCurrentRead({{message._id}});slidePage('/messageRead')">
            {{message.title}}
        </li>
    </ul>
</div>
<ng-include src="'partials/settingsOverlay.html'"></ng-include>