<div id="sp-nav" ng-controller="HomeCtrl">
  <div class="topcoat-list__container">
    <h3 class="topcoat-list__header">Home</h3>
    <ul class="topcoat-list">
      <li class="topcoat-list__item--first" ng-click="slidePage('/newmessage')">
          New Message
      </li>
      <li class="topcoat-list__item" ng-click="slidePage('/map')">
          My Map
      </li>
      <li class="topcoat-list__item" ng-click="slidePage('/inbox')">
          Inbox
      </li>
      <li class="topcoat-list__item" ng-click="slidePage('/friends')">
          My Friends
      </li>
    </ul>
  </div>
</div>
<div id="sp-page">
    <div class="topcoat-navigation-bar" ng-controller="HomeCtrl">
        <div class="topcoat-navigation-bar__item left quarter">
            <a class="topcoat-icon-button--quiet" ng-click="$spMenu.toggle()">
                <span class="topcoat-icon home-icon"></span>
            </a>
        </div>
        <div class="topcoat-navigation-bar__item center half">
            <h1 class="topcoat-navigation-bar__title">Inbox</h1>
        </div>
    </div>
    <div class="topcoat-list__container list" ng-controller="InboxCtrl" ng-init="getMessages()">
        <h3 class="topcoat-list__header">Received</h3>
        <ul class="topcoat-list">
            <li class="topcoat-list__item" ng-repeat="message in receivedMessages" ng-click="tryOpen(message)">
                <div><strong>{{message.title}}</strong></div>
                <div>{{message.sender_name}} | sent {{message.date | momenttime}} | distance {{message.distance | distmeters}}</div>
            </li>
        </ul>
        <h3 class="topcoat-list__header">Sent</h3>
        <ul class="topcoat-list">
            <li class="topcoat-list__item" ng-repeat="message in sentMessages" ng-click="setCurrent(message); slidePage('/messageRead')">
                <div><strong>{{message.title}}</strong></div>
                <div>{{message.receiverName}} | sent {{message.date | momenttime}}</div>
            </li>
        </ul>
    </div>
</div>