<div class="topcoat-navigation-bar" ng-controller="HomeCtrl">
    <div class="topcoat-navigation-bar__item center half">
        <h1 class="topcoat-navigation-bar__title">Sign In</h1>
    </div>
</div>
<div class="topcoat-list__container" ng-controller="LoginCtrl" ng-init="bootUp()">
    <h3 class="topcoat-list__header">Login</h3>
    <input type="text" class="topcoat-text-input" value="" placeholder="username" ng-model="username">
    <input type="text" class="topcoat-text-input" value="" placeholder="password" ng-model="password">
    <div id="message-buttons">
    <button class="topcoat-button--cta" ng-click="fetch('login/')"><i class="icon-compass"></i> Login</button>
    <button class="topcoat-button--cta" ng-click="slidePage('/signup')"><i class="icon-sun"></i> Sign Up</button>
  </div>

</div>