<div class="topcoat-navigation-bar purple flow" ng-controller="HomeCtrl">
    <div class="topcoat-navigation-bar__item left quarter">
    </div>
    <div class="topcoat-navigation-bar__item center half">
        <h1 class="topcoat-navigation-bar__title purple-title">Sign In</h1>
    </div>
</div>
<div class="topcoat-list__container header" ng-controller="LoginCtrl" ng-init="bootUp()">
    <div class="headerhatch"></div>
    <input type="text" class="topcoat-text-input centerinput" value="" placeholder="username" ng-model="username" autofocus>
    <input type="password" class="topcoat-text-input centerinput signInPswd" value="" placeholder="password" ng-model="password">
    <div id="message-buttons">
        <button class="pure-button hatch-button-success" ng-click="login()"><i class="icon-compass"></i> Login</button>
        <button class="pure-button hatch-button-success" ng-click="slidePage('/signup')"><i class="icon-sun"></i> Sign Up</button>
    </div>
</div>