<div id="sp-nav" class="slate" ng-controller="HomeCtrl">
  <div class="topcoat-navigation-bar" ng-controller="HomeCtrl">
    <div class="topcoat-navigation-bar__item centerize">
        <a class="topcoat-icon-button--quiet" ng-click="$spMenu.toggle()">
            <span class="topcoat-icon home-icon"></span>
        </a>
    </div>
  </div>
  <div class="topcoat-list__container">
    <ul class="topcoat-list">
      <li class="topcoat-list__item--first space slate" ng-click="slidePage('/newmessage')">
          <span class="topcoat-icon writemsg-icon"></span>
          New Message
      </li>
      <li class="topcoat-list__item space slate" ng-click="$spMenu.toggle()">
          <span class="topcoat-icon locate-icon"></span>
          My Map
      </li>
      <li class="topcoat-list__item space slate" ng-click="slidePage('/inbox')">
          <span class="topcoat-icon msg-icon"></span>
          Inbox
      </li>
      <li class="topcoat-list__item space slate" ng-click="slidePage('/friends')">
          <span class="topcoat-icon group-icon"></span>
          My Friends
      </li>
      <li class="topcoat-list__item space slate" ng-click="slidePage('/inbox')">
          <span class="topcoat-icon lock-icon"></span>
          Log Out
      </li>
    </ul>
  </div>
</div>

<div id="sp-page">
      <div class="topcoat-navigation-bar seafoam" ng-controller="HomeCtrl">
          <div class="topcoat-navigation-bar__item left quarter">
              <a class="topcoat-icon-button--quiet" ng-click="$spMenu.toggle()">
                  <span class="topcoat-icon home-icon"></span>
              </a>
          </div>
          <div class="topcoat-navigation-bar__item center half">
              <h1 class="topcoat-navigation-bar__title">My Map</h1>
          </div>
      </div>

    <div id="map-canvas" ng-init="getMessages();">
      <div class="gm-style"></div>
    </div>
  </div>
</div>
