<div id="sp-nav" ng-controller="HomeCtrl">
  <div class="topcoat-navigation-bar color-nav" ng-controller="HomeCtrl">
    <div class="topcoat-list__container">
      <ul class="topcoat-list">
        <h3 class="topcoat-list__header"><span class="topcoat-icon egg_small"></span>Hatch</h3>
        <li class="topcoat-list__item--first babyblue" ng-click="slidePage('/newmessage')">
            <span class="topcoat-icon writemsg-icon"></span>
            New Message
        </li>
        <li class="topcoat-list__item orange" ng-click="$spMenu.toggle()">
          <span class="topcoat-icon locate-icon"></span>
            My Map
        </li>
        <li class="topcoat-list__item green" ng-click="slidePage('/inbox')">
          <span class="topcoat-icon msg-icon"></span>
            Inbox
        </li>
        <li class="topcoat-list__item pink" ng-click="slidePage('/friends')">
          <span class="topcoat-icon group-icon"></span>
            My Friends
        </li>
        <li class="topcoat-list__item lightblue" ng-click="slidePage('/inbox')">
            <span class="topcoat-icon settings-icon"></span>
            Settings
        </li>
        <li class="topcoat-list__item lightpink" ng-click="logOut('/login')">
            <span class="topcoat-icon lock-icon"></span>
            Log Out
        </li>
      </ul>
    </div>
  </div>
</div>

<div id="sp-page">
      <div class="topcoat-navigation-bar purple" ng-controller="HomeCtrl">
          <div class="topcoat-navigation-bar__item left quarter">
              <a class="topcoat-icon-button--quiet" ng-click="$spMenu.toggle()">
                  <span class="topcoat-icon home-icon"></span>
              </a>
          </div>
          <div class="topcoat-navigation-bar__item center half">
              <h1 class="topcoat-navigation-bar__title purple-title">My Map</h1>
          </div>
      </div>

    <div id="map-canvas" ng-init="getMessages();">
      <div class="gm-style"></div>
    </div>
  </div>
</div>
