<div class="topcoat-navigation-bar" ng-controller="HomeCtrl">
    <div class="topcoat-navigation-bar__item left quarter">
        <button class="topcoat-button--large--quiet" ng-click="back()">Back</button>
    </div>
    <div class="topcoat-navigation-bar__item center half" ng-controller="MessageReadCtrl" ng-model="message">
        <h1 class="topcoat-navigation-bar__title">{{message.title}}</h1>
    </div>
    <div class="topcoat-navigation-bar__item right quarter">
        <a class="topcoat-icon-button--quiet" ng-click="changeSettings()">
            <span class="topcoat-icon settings-icon"></span>
        </a>
    </div>
</div>
<div class="topcoat-list__container list" ng-controller="MessageReadCtrl" ng-model="message">
    <h3 class="topcoat-list__header">Message from</h3>
    <h3>{{message.title}}</h3>
    <p>{{message.content}}</p>
    <p>Sender: {{message.sender_id}}</p>
    <p>Location: {{message.latlng.lat}} {{message.latlng.lng}}</p>
</div>
<ng-include src="'partials/settingsOverlay.html'"></ng-include>