<div class="topcoat-navigation-bar purple" ng-controller="HomeCtrl">
    <div class="topcoat-navigation-bar__item left quarter">
        <button class="topcoat-button--large--quiet" ng-click="back()">Back</button>
    </div>
    <div class="topcoat-navigation-bar__item center half" ng-controller="MessageReadCtrl" ng-model="message">
        <h1 class="topcoat-navigation-bar__title">Message</h1>
    </div>
    <div class="topcoat-navigation-bar__item right quarter">
        <a class="topcoat-icon-button--quiet" ng-click="changeSettings()">
            <span class="topcoat-icon settings-icon"></span>
        </a>
    </div>
</div>

<div class="body-container">
    <div class="topcoat-list__container" ng-controller="MessageReadCtrl" ng-model="message">
        <h3 class="topcoat-list__header">Message from {{message.sender_name}}</h3>
        <h3>{{message.title}}</h3>
        <p><i class="icon-time"></i> {{message.date | momenttime}}</p>
        <p>{{message.content}}</p>
        <p>from {{message.sender_name}}</p>
        <p>Location: {{message.address}}</p>
        <img ng-show="message.pic_url" src="{{ message.pic_url }}"></img>
    </div>
</div>