<div id="sp-nav" ng-controller="HomeCtrl">
  <div class="topcoat-list__container">
    <h3 class="topcoat-list__header">Home</h3>
    <ul class="topcoat-list">
      <li class="topcoat-list__item--first" ng-click="slidePage('/newmessage')">
          New Message
      </li>
      <li class="topcoat-list__item" ng-click="slidePage('/map')">
          My Map
      </li>
      <li class="topcoat-list__item" ng-click="slidePage('/inbox')">
          Inbox
      </li>
      <li class="topcoat-list__item" ng-click="slidePage('/friends')">
          My Friends
      </li>
    </ul>
  </div>
</div>
