<div class="topcoat-navigation-bar" ng-controller="HomeCtrl">
  <div class="topcoat-navigation-bar__item left quarter">
      <a class="topcoat-icon-button--quiet" ng-click="slidePage('/newmessage')">
          <span class="topcoat-icon back-icon"></span>
      </a>
  </div>
  <div class="topcoat-navigation-bar__item center half">
      <h1 class="topcoat-navigation-bar__title">{{ title }}</h1>
  </div>
  <div class="topcoat-navigation-bar__item right three-quarters">
      <button class="topcoat-button--large--quiet" ng-click="slidePage('/friendSend')">Nxt</button>
  </div>
</div>

<div id="map-canvas" ng-init="initialize()">
  <div class="gm-style"></div>
</div>
