<div class="topcoat-navigation-bar purple" ng-controller="HomeCtrl">
  <div class="topcoat-navigation-bar__item left quarter iconnav">
      <i class="topcoat-icon-button--quiet icon-chevron-left icon-2x icontop" ng-click="slidePage('/newmessage')"></i>
  </div>
  <div class="topcoat-navigation-bar__item center half">
      <h1 class="topcoat-navigation-bar__title purple-title long">{{ title }}</h1>
  </div>
  <div class="topcoat-navigation-bar__item right quarter iconnav">
    <i class="topcoat-icon-button--quiet icon-chevron-right icon-2x icontop" ng-click="slidePage('/friendSend')"></i>
  </div>
</div>

<div id="map-canvas" ng-init="initialize()">
  <div class="gm-style"></div>
</div>
