<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" /> -->

<div class="topcoat-navigation-bar" ng-controller="HomeCtrl">
    <div class="topcoat-navigation-bar__item left quarter">
        <button class="topcoat-button--large--quiet" ng-click="slidePage('/newmessage')">Back</button>
    </div>
    <div class="topcoat-navigation-bar__item center half">
        <h1 class="topcoat-navigation-bar__title">Map</h1>
    </div>
</div>
<div class="topcoat-list__container">
    <h3 class="topcoat-list__header">Place your message</h3>
    <ul class="topcoat-list">
        <button class="topcoat-button--cta" ng-click="slidePage('/friendSend')">
            Send to...
        </button>
    </ul>
</div>