<div class="topcoat-navigation-bar" ng-controller="HomeCtrl">
    <div class="topcoat-navigation-bar__item left quarter">
        <a class="topcoat-icon-button--quiet" ng-click="slidePage('/home','modal')">
            <span class="topcoat-icon home-icon"></span>
        </a>
    </div>
    <div class="topcoat-navigation-bar__item center half">
        <h1 class="topcoat-navigation-bar__title">Tutorial</h1>
    </div>
    <div class="topcoat-navigation-bar__item right quarter">
        <a class="topcoat-icon-button--quiet" ng-click="changeSettings()">
            <span class="topcoat-icon settings-icon"></span>
        </a>
    </div>
</div>
    <div id="carousel">
        <ul>
            <li class="pane1"><img src="http://i1-win.softpedia-static.com/screenshots/Mozilla-Fennec_4.png"></li>
            <li class="pane2"><img src="http://www.concrete5.org/files/5513/1434/2885/jb_mobile_app_screenshot_0_1314342885.jpg"></li>
            <li class="pane3"><h2>...or swipe...sgsgssg</h2> </li>
            <li class="pane4"><h2>..or drag...</h2><span class="topcoat-icon dot-icon"></span></li>
            <li class="pane5"><h2>Dit is het einde!</h2></li>
        </ul>
    </div>
<div ng-init="roundandround()"></div>
<ng-include src="'partials/settingsOverlay.html'"></ng-include>