/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
  -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0
  */
}
@font-face {
  font-family: "Oxygen";
  src: url("../font/Oxygen-Light.ttf");
  font-weight: 200;
}
@font-face {
  font-family: "Oxygen";
  src: url("../font/Oxygen-Regular.ttf");
}
@font-face {
  font-family: "Oxygen";
  src: url("../font/Oxygen-Bold.ttf");
  font-weight: 600;
}

body {
  overflow:hidden;
  /*background: #2a2d30;*/
  font-color: #fff;
  background: #e3e3dd;
}
/*F8F8FF*/
#sp-nav{
  width:100%;
}
#sp-page {
  overflow:hidden;
  /*background: #2a2d30;*/
  background: #e3e3dd;
}

.body-container {
  height: 96%;
  background: #e3e3dd;
}



.list {
  width: 100%;
  height: 100%;
  position: absolute;
}
.pad {
  left: 5%;
  height: 100%;
  width: 95%;
  position: absolute;
}

.note {
  position: absolute;
  bottom: 45px;
  left: 5px;
}

#map-canvas {
  margin: 0;
  padding: 0;
  height: 93%;
}

#leftButtons {
  /*position: relative;*/
  float: left;
  padding: 15px;
  margin: 0 30px 0 15px;
}

#rightButtons {
}

#messageContent{
  clear: both;
}

.messageButton{
  background-color: rgba(255, 255, 255, 0.5);
  /*position:relative;*/
  clear: both;
  float: left;
  left: 25%;
  color: grey;
}
#map-canvas {
  height: 93%
}

.grayback {
  background-color: #e3e3dd;

}

.hatchlist {
  background: #e3e3dd;
}

.hatchlist .checkboxbackground {
  background-color: #c9dfd9;
}

.hatchlist ul {
  margin: 0 0 4rem 0;
}

.hatchlist li {
  padding: 0.7rem 1rem 0.7rem 1rem;
}

.hatchlist h2 {
  line-height: 0.2rem;
}

.hatchlist span {
  /*float: right;*/
  float: right;
  position: relative;
  margin: 0.4rem 0.1rem 0 15rem;
  line-height: 0.4rem;
}

.bottombutton {
  position: fixed;
  bottom: 2%;
}

.bottombutton {
  width: 100%;
  position: fixed;
  /*top: auto;*/
  /*margin: 0 0 2% 0;*/
  background: #e3e3dd;
  bottom: 0;
  height: 3rem;
  padding: 0.5rem 0 0 0;
  border-top: 1px solid #bcbfbf;
}

.bottombutton button {
  height: 2.5rem;
}

.inputback {
  background-color: #fff;
}

#welcome-buttons{
  position:relative;
  clear: both;
}

.hatch-button-success,
.hatch-button-error,
.hatch-button-warning,
.hatch-button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.hatch-button-success {
    background: rgb(56, 178, 129); /* this is a green */
}

.hatch-button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.hatch-button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.hatch-button-secondary {
    background: rgb(145, 183, 203); /* this is a light blue */
}

.inputbox {
  margin: 10px 0 10px 2%;
  width: 96%;
  background-color: #fff;
}
.inputbox_bottom {
  padding: 20px 0 0 20px;
}
.small_button{
  font-weight: bold;
}

.center_button {
  margin: 0 0 0 2%;
  width: 96%;
}


.egg_small{
  background: url("../img/egg_tiny.png") no-repeat;
  background-size: 32px 32px;
  width: 0.7rem;
  height: 0.7rem;
  color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

.line-separator{
  height:1px;
  border-bottom:1px solid #bdc3c7;
}

.slate{
  background-color: #1F1E1D;
  color: white;
  border-bottom: 2px outset #1F1E1D;
}

.green{
  background-color: #00b386;
  color: white;
}
.pink {
  background-color: #ef5282;
  color: white;
/*  border-bottom: 2px outset #C94147;
  border-top: 2px outset #C94147;
*/
}

.orange{
  background-color: #ffba4d;
  color: white;
/*  border-bottom: 2px outset #F5997A;
  border-top: 2px outset #F5997A;
*/
}


.purple {
  background-color: #7859b0;
  color: white;
}

.babyblue {
  background-color: #4681cf;
  color: white;
}

.lightblue {
  background-color: #8db7c9;
  color: white;
}
.yellow{
  background-color: #E5E324;
  color: white;
  border-bottom: 2px outset #FFFE94;
  border-top: 2px outset #FFFE94;
}

.seafoam{
  background-color: #27ae60;
  color: white;
  border-bottom: 2px outset #289382;
  border-top: 2px outset #289382;
}

.gray{
  background-color: #bdc3c7;
  color: white;
  border-bottom: 1px solid #bdc3c7;
}

.color-nav {
  padding-left: 0;
}

.color-nav span {
  margin: -3px 0 0 0;
}

.purple-title {
  color: white;
}

.purple-title.long {
  color: white;
  font-size: 1.0rem;
}

.gradient {
  background: -moz-linear-gradient(top, rgba(61,55,71,1) 0%, rgba(51,46,59,1) 50%, rgba(51,46,58,1) 51%, rgba(51,46,59,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(61,55,71,1)), color-stop(50%,rgba(51,46,59,1)), color-stop(51%,rgba(51,46,58,1)), color-stop(100%,rgba(51,46,59,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(61,55,71,1) 0%,rgba(51,46,59,1) 50%,rgba(51,46,58,1) 51%,rgba(51,46,59,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(61,55,71,1) 0%,rgba(51,46,59,1) 50%,rgba(51,46,58,1) 51%,rgba(51,46,59,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(61,55,71,1) 0%,rgba(51,46,59,1) 50%,rgba(51,46,58,1) 51%,rgba(51,46,59,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(61,55,71,1) 0%,rgba(51,46,59,1) 50%,rgba(51,46,58,1) 51%,rgba(51,46,59,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d3747', endColorstr='#332e3b',GradientType=0 ); /* IE6-9 */
}

.iconnav {
  padding: 2% 0 0 0;
}
.icontop {
  color: white;

}




/*
purple: 522759
pink: C9353B
orange: F5694A
lellow: FFFF6C
purple: 00937A
*/

/*.scroll {
  padding: 10px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  top: 10px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 214px;
}*/
.scroll {
  padding: 5px;
  margin: 10px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  top: 10px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 220px;
  width: 85%;
  -webkit-box-shadow: outset 0 1px rgba(255,255,255,0.12);
  box-shadow: outset 0 1px rgba(255,255,255,0.12);
  border: 1px solid rgba(0,0,0,0.36);
  -webkit-border-radius: 6px;
  border-radius: 6px;
}


.centerize {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.space{
  /*height: 50px;*/
  line-height: 50px;
}


/*======================icons=======================*/

.home-icon {
  background: url("../img/home.png") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

.hmbrgr-icon {
  background: url("../img/hamburger_light.svg") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

.eye-icon {
  background: url("../img/openeye.png") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

.blink-icon {
  background: url("../img/closedeye.png") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

.writemsg-icon {
  background: url("../img/writemsg.png") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

.lock-icon {
  background: url("../img/lock.png") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

.group-icon {
  background: url("../img/group.png") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.msg-icon {
  background: url("../img/msg.png") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

.locate-icon {
  background: url("../img/locate.png") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

.back-icon {
  background: url("../img/back.png") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  color: white;
}

.camera-icon {
  background: url("../img/camera.png") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

.settings-icon {
  background: url("../img/settings_light.svg") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

img {
  margin-top: 10px;
  padding: 25px;
  width: 200px;
  height: 180px;
  -webkit-box-shadow: inset 0 1px rgba(255,255,255,0.12);
  box-shadow: inset 0 1px rgba(255,255,255,0.12);
/*  border: 1px solid rgba(0,0,0,0.36);
  -webkit-border-radius: 6px;
  border-radius: 6px;*/
}

p {
  /*color: #5F5F5F;*/
}

h4 {
  padding: 0;
  margin: 0;
  font: inherit;
  /*color: inherit;*/
  background: transparent;
  border: none;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 1.0rem;
  font-weight: 400;
  /*color: #c6c8c8;*/
}
/*======================pull to refresh=======================*/

#container {
    position: relative;
    -webkit-transition: -webkit-transform 0ms;
    transform: translate3d(0,0,0) scale3d(1,1,1);
    -o-transform: translate3d(0,0,0) scale3d(1,1,1);
    -ms-transform: translate3d(0,0,0) scale3d(1,1,1);
    -moz-transform: translate3d(0,0,0) scale3d(1,1,1);
    -webkit-transform: translate3d(0,0,0) scale3d(1,1,1);
    -webkit-backface-visibility: hidden;
}

    /* slide up with small animation */
#container.pullrefresh-slideup,
#container.pullrefresh-loading {
    -o-transition: -o-transform .3s;
    -ms-transition: -ms-transform .3s;
    -moz-transition: -moz-transform .3s;
    -webkit-transition: -webkit-transform .3s;
}

    /* place the pullrefresh box above the container */
#pullrefresh {
    display: block;
    overflow: hidden;
    position: absolute;
    top: -490px;
    left: 0;
    width: 100%;
    height: 490px;
    background: #ccc;
    box-shadow: 0 -5px 10px #bbb inset;
}

#pullrefresh .message {
    position: absolute;
    left: 0;
    bottom: 20px;
    right: 0;
    color: #777;
    text-align: center;
    text-shadow: 1px 1px 0 #dfdfdf;
    font-weight: bold;
}

    /* change message with css */
#pullrefresh .message span:after { content: "Pull to refresh..."; }
.pullrefresh-breakpoint #pullrefresh .message span:after { content: "Release to refresh..."; }
.pullrefresh-loading #pullrefresh .message span:after { content: "Loading new image..."; }


    /* icon */
#pullrefresh .icon {
    position: absolute;
    left: 20px;
}

    /* arrow icon */
#pullrefresh .icon.arrow {
    background: url(../img/arrow.png) no-repeat;
    width: 71px;
    height: 28px;
    bottom: 10px;

    transform: rotate(90deg);
    transition: transform .3s;
    -o-transform: rotate(90deg);
    -o-transition: -o-transform .3s;
    -ms-transform: rotate(90deg);
    -ms-transition: -ms-transform .3s;
    -moz-transform: rotate(90deg);
    -moz-transition: -moz-transform .3s;
    -webkit-transform: rotate(90deg);
    -webkit-transition: -webkit-transform .3s;
    -webkit-backface-visibility: hidden;
}

#pullrefresh .icon.arrow.arrow-up {
    transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
}

    /* spinner icon */
    /* rotate spinner with css animation */
@keyframes rotate{ 0%{ transform: rotate(0deg); } 100%{ transform: rotate(360deg); } }
@-o-keyframes rotate{ 0%{ -o-transform: rotate(0deg); } 100%{ -o-transform: rotate(360deg); } }
@-ms-keyframes rotate{ 0%{ -ms-transform: rotate(0deg); } 100%{ -ms-transform: rotate(360deg); } }
@-moz-keyframes rotate{ 0%{ -moz-transform: rotate(0deg); } 100%{ -moz-transform: rotate(360deg); } }
@-webkit-keyframes rotate{ 0%{ -webkit-transform: rotate(0deg); } 100%{ -webkit-transform: rotate(360deg); } }

#pullrefresh .icon.loading {
    background: url(../img/spinner_2.png) no-repeat;
    width: 19px;
    height: 19px;
    background-size: 100%;
    bottom: 0;

    animation: rotate 1s linear infinite;
    -o-animation: rotate 1s linear infinite;
    -ms-animation: rotate 1s linear infinite;
    -moz-animation: rotate 1s linear infinite;
    -webkit-animation: rotate 1s linear infinite;
}

/*
.fade-hide-setup, .fade-show-setup {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.fade-hide-setup {
  opacity:1;
}

.fade-hide-setup.fade-hide-start {
  opacity:0;
}

.fade-show-setup {
  opacity:0;
}

.fade-show-setup.fade-show-start {
  opacity:1;
}

.custom-enter-setup,
.custom-leave-setup,
.custom-move-setup {
  -webkit-transition: 1.5s linear all;
  -moz-transition: 1.5s linear all;
  -o-transition: 1.5s linear all;
  transition: 1.5s linear all;
  position:relative;
}

.custom-enter-setup {
  opacity:0;
}
.custom-enter-setup.custom-enter-start {
  left:0;
  opacity:1;
}

.custom-leave-setup {
  left:0;
  opacity:1;
}
.custom-leave-setup.custom-leave-start {
  opacity:0;
}

.custom-move-setup {
  opacity:0.25;
}
.custom-move-setup.custom-move-start {
  opacity:1;
}
*/


/* LEFT TO RIGHT SLIDE */

/*.wave-enter-setup, .wave-leave-setup {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.wave-enter-setup {
  position:absolute;
  left:-100%;
}

.wave-enter-start {
  left:0;
}

.wave-leave-setup {
  position:absolute;
  left:0;
}

.wave-leave-start {
  left:100%;
}*/

/* Top to bottom transition */
/*.content-enter-setup, .content-leave-setup {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.content-enter-setup {
  opacity:0;
  left:100px;
  width:100%;
  position:absolute;
}
.content-enter-setup.content-enter-start {
  left:0;
  opacity:1;
}

.content-leave-setup {
  position:absolute;
  left:0;
  width:100%;
  opacity:1;
}
.content-leave-setup.content-leave-start {
  left:-100px;
  opacity:0;
}*/
/*******/

/*.view-leave-setup, .view-enter-setup {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .5s;
  -ms-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .5s;
}

.view-container {
  position:relative;
  height:100px;
}

.view-container > * {
  display:block;
  width:100%;

  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  padding:3px;
}

.view-enter-setup {
  left:100%;
}
.view-enter-setup.view-enter-start {
  left:0;
}

.view-leave-setup { }
.view-leave-setup.view-leave-start {
  left:-100%;
}*/


/* TOP TO BOTTOM SLIDE */
/*.slide-enter-setup, .slide-leave-setup {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.slide-enter-setup {
  position:absolute;
  left:0;
  top:-200px;
}

.slide-enter-start {
  top:0;
}

.slide-leave-setup {
  position:absolute;
  top:0;
}

.slide-leave-start {
  top:200px;
}*/
